# System files
.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.out
*.exe
push_swap
checker_linux
tester


# Temp files
*.swp

# Debug files
*.dSYM/

# VS Code directory
.vscode/

# clion directory
.idea
